/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;

  --background-color: #f3faff;
  --card-background-color: #fff;
  --card-box-shadow: 0 0 4px #d4ecff;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

body.dark-mode {
  --primary-text-color: #fff;
  --secondary-text-color: #c4c4c4;
  --accent-color: #6fa7e4;
  --accent-color-dark: #3c6b8e;

  --background-color: #333333;
  --card-background-color: #282828;
  --card-box-shadow: 0 0 4px #000;
}


p {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.4rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
}
nav {
  background-color: var(--background-color);
  box-shadow: 0 0 4px var(--accent-color);
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  right: 0;
}

.dark-mode nav {
  box-shadow: 0 0 4px #888888;
  background-color: var(--card-background-color);
}


.main-nav {
  justify-content: space-between;
  padding-block: 8px;
}
.company-logo {
  width: 50px;
}
.company-logo img {
  height: 50px;
}
.nav-links ul {
  gap: 16px;
}
.hover-link {
  cursor: pointer;
}
.hover-link:hover {
  color: var(--secondary-text-color);
}
.hover-link:active {
  color: red;
}
.nav-item.active {
  color: var(--accent-color);
}
.search-bar {
  height: 32px;
  gap: 8px;
}
.news-input {
  width: 200px;
  height: 100%;
  padding-inline: 12px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
}
.search-button {
  background-color: var(--accent-color);
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.search-button:focus{
  background-color: #183b56;
}
.dark-mode .search-button:focus{
  background-color: #888888;
}

.dark-mode .search-button {
  background-color: #333333;
  color: #fff;
}

main {
  padding-block: 20px;
  margin-top: 80px;
}
.cards-container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: start;
}
.card {
  width: 360px;
  min-height: 400px;
  box-shadow: var(--card-box-shadow);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--card-background-color);
  /* overflow: hidden; */
  transition: all 0.3s ease;
  overflow: visible;
}
.card:hover {
  box-shadow: 1px 1px 8px #d4ecff;
  background-color: #f9fdff;
  transform: translateY(-2px);
}
.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-content {
  padding: 12px;
}
.news-source {
  margin-block: 13px;
}
footer {
  background-color: #ecf3f9;
  color: var(--primary-text-color);
  padding: 20px 0;
}

footer .container {
  text-align: center;
}
footer img{
  height: 30px;
}
footer p {
  margin: 0;
}
.dark-mode footer {
  background-color: var(--card-background-color);
  color: #fff;
}

.end{
  display: block;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;

}

.toggle-switch input {
  display: none;
}

.dark-mode-label {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: url("dark-mode.png") no-repeat center center;
  background-size: cover;
}

.dark-mode-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.dark-mode-label img {
  display: block;
  width: 100%;
  height: 100%;
}

.dark-mode .card:hover {
  background-color: #323232;
  box-shadow: 0 0 4px #888888;
}